
.c-form01{
	/*フォームリセット*/
	input[type="checkbox"] {
    	display: none;
	}
	input[type="checkbox"]:checked + label {
	    background: #ff0000;
	}
	input[type="radio"] {
    	display: none;
	}
	input[type="radio"]:checked + label {
	    background: #ff0000;
	}
	input[type="text"] {
	  	box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -webkit-appearance: none;
	    max-width: 100%;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    outline: none;
	    background: none;
	}
	textarea {
	  	box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -webkit-appearance: none;
	    max-width: 100%;
	    max-width: 100%;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    outline: none;
	    background: none;
	}
	select {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    border: none;
	    border-radius: 0;
	    outline: none;
	    background: transparent;
	}
	button,input[type="submit"] {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    outline: none;
	    background: transparent;
	}
	/*フォームリセット*/
	&_table{
		width: 100%;
		tr{
			td{
				input[type="text"]{
					width: 100%;
					padding: 5px 10px;
					border: 2px solid #ad2d33;
					border-radius: 3px;
					background: #fff;
				}
				input[type="file"]{
					border-radius: 0;
				}
				textarea{
				}
				.horizontal-item{
					display: block;
					+.horizontal-item{
						margin-left: 0;
					}
				}
				/*チェックボックス*/
				.check-box {
				    box-sizing: border-box;
				    cursor: pointer;
				    padding: 5px 30px;
				    position: relative;
				    width: auto;
					&:checked{
						+span{
							&::after{
								opacity: 1;
							}
						}
					}
					+span{
						display: block;
						position: relative;
						padding-left: 25px;
						&::before{
						    border: 1px solid #ad2d33;
						    content: '';
						    display: block;
						    height: 16px;
						    left: 0px;
						    margin-top: -9px;
						    position: absolute;
						    top: 50%;
						    width: 16px;
						}
						&::after{
							border-right: 3px solid #ad2d33;
						    border-bottom: 3px solid #ad2d33;
						    content: '';
						    display: block;
						    height: 9px;
						    left: 5px;
						    margin-top: -8px;
						    opacity: 0;
						    position: absolute;
						    top: 50%;
						    transform: rotate(45deg);
						    width: 5px;
						    opacity: 0;
	  						transition: all .2s linear;
						}
					}
				}
				input[type=checkbox]:checked + .check-box::after {
				    opacity: 1;
				}
				/*ラジオボックス*/
				.radio-box {
				    box-sizing: border-box;
				    cursor: pointer;
				    padding: 5px 30px;
				    position: relative;
				    width: auto;
					&:checked{
						+span{
							&::after{
								opacity: 1;
							}
						}
					}
					+span{
						display: block;
						position: relative;
						padding-left: 25px;
						&::before{
						    border: 1px solid #ad2d33;
						    border-radius: 50%;
						    content: '';
						    display: block;
						    height: 16px;
						    left: 0px;
						    margin-top: -9px;
						    position: absolute;
						    top: 50%;
						    width: 16px;
						}
						&::after{
						    content: '';
						    display: block;
						    position: absolute;
						    left: 3px;
						    opacity: 0;
						    top: 50%;
						    margin-top: -6px;
						    width: 12px;
						    height: 12px;
						    border-radius: 50%;
						    background: #ad2d33;
	  						transition: all .2s linear;
						}
					}
				}
				input[type=checkbox]:checked + .check-box::after {
				    opacity: 1;
				}
				/*ラジオボックス*/

				/*セレクトボックス*/
				select{
					background: #fff;
					border: 2px solid #ad2d33;
					border-radius: 3px;
					width: 100%;
					padding: 5px 10px 5px 10px;
					background-image: url('../img/common/ico_aroow01.png');
					background-repeat: no-repeat;
					background-size: 12px 10px;
					background-position: right 10px center;
				}
				/*セレクトボックス*/
				&.receipt{
					span.error{
						padding-left: 26px;
						font-size: 1.3rem;
					}
				}
				textarea{
					width: 100%;
					padding: 5px 10px;
					border: 2px solid #ad2d33;
					border-radius: 3px;
					background: #fff;
				}
			}
		}
	}
	/*プライバシーポリシーチェック*/
	&_agree{
		margin-top: 10px;	
		font-size: 1.2rem;
		a{
			display: inline-block; 
			margin-left: -5px;
		}
	    label,input{
	    	width: 50px;
	    }
		span.vertical-item{
			display: inline-block;
			position: relative;
			top: -9px;
		}
		span.error{
			position: absolute;
			left: 44px;
			font-size: 1.3rem;
		}
	}
	.agree {
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    padding: 5px 30px;
	    position: relative;
	    width: auto;
		&:checked{
			+span{
				&::after{
					opacity: 1;
				}
			}
		}
		+span{
			display: block;
			position: relative;
			padding-left: 25px;
			&::before{
			    border: 1px solid #ad2d33;
			    content: '';
			    display: block;
			    height: 16px;
			    left: 0px;
			    margin-top: -9px;
			    position: absolute;
			    top: 50%;
			    width: 16px;
			}
			&::after{
				border-right: 3px solid #ad2d33;
			    border-bottom: 3px solid #ad2d33;
			    content: '';
			    display: block;
			    height: 9px;
			    left: 5px;
			    margin-top: -8px;
			    opacity: 0;
			    position: absolute;
			    top: 50%;
			    transform: rotate(45deg);
			    width: 5px;
			    opacity: 0;
				transition: all .2s linear;
			}
		}
	}
	input[type=checkbox]:checked + .checkbox::after {
	    opacity: 1;
	}

	/*プライバシーポリシーチェック*/
	/*ボタン*/
	&_btn{
		max-width: 180px;
		text-align: center;
		margin: 30px auto 0;
		input[type="submit"]{
			display: block;
			width: 100%;
			padding: 8px 0 10px;
			background: #ad2d33;
			text-decoration: none;
			font-size: 1.8rem;
			font-weight: 800;
			color: #fff;
			border-radius: 10px;
		}
	}
	/*ボタン*/
	/*確認画面*/
	.mw_wp_form_confirm{
		.c-form01_list{
			margin-left: 0;
		}
		.c-form01_agree{
			display: none;
		}
		.c-form01_btn{
			margin-top: 20px;
		}
	}
	/*確認画面*/
	/*完了画面*/
	.mw_wp_form_complete{
	}
	/*完了画面*/
	@media screen and (min-width: 600px){
		&_table{
			width: 100%;
			tr{
				th{
					vertical-align: middle;
					padding: 15px 30px 10px 0;
					vertical-align: top;
				}
				td{
					&.receipt{
						span.error{
							padding-left: 26px;
						}
					}
				}
			}
		}
		&_agree{
			width: 270px;
    		margin: 0 auto;
			font-size: 1.2rem;
			a{
				margin-left: -5px;
				transition: all .2s linear;
				&:hover{
					text-decoration: none;
				}
			}
			span.error{
				left: 50%;
				margin-left: -111px;
			}
		}

		&_btn{
			max-width: 260px;
			text-align: center;
			margin: 90px auto 0;
			transition: all .2s linear;
			&:hover{
				opacity: 0.6;
			}
			input[type="submit"]{
				display: block;
				width: 100%;
				padding: 8px 0 12px;
				text-decoration: none;
				font-size: 2.4rem;
			}
		}
		.mw_wp_form_confirm{
		}
		/*確認画面*/
		/*完了画面*/
		.mw_wp_form_complete{
			.txt{
				width: 560px;
				margin: 0 auto;
				font-size: 1.6rem;
			}
		}
		/*完了画面*/
	}
	@media screen and (min-width: 800px){
		.c-form01_list .horizontal-item{
			width: calc(35% - 20px);
		}
	}
	@media screen and (min-width: 1240px){
		.c-form01_list .horizontal-item{
			width: calc(25% - 20px);
			font-size: 1.4rem;
		}
	}
}
.c-form01__table{
	display: block;
	tbody{
		display: block;
	}
	tr{
		display: block;
	}
	th{
		display: block;
	}
	td{
		display: block;
	}
}