@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('eot'),
		url('../font/iconfont.woff2') format('woff2'),
		url('../font/iconfont.woff') format('woff'),
		url('../font/iconfont.ttf') format('truetype'),
		url('../font/iconfont.svg#iconfont') format('svg');
}

[class*=c-icon]:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	speak: none;
	text-decoration: none;
	text-transform: none;
}


	.c-icon-svg01:before {
		content: "\E001";
	}

	.c-icon-svg02:before {
		content: "\E002";
	}

	.c-icon-svg03:before {
		content: "\E003";
	}