@use "./01_setting/_mixin.scss" as m;
@use "./01_setting/_var.scss" as v;

#home{
	.sec{
		padding: 60px 0;
		@include m.mq(tb){
			padding: 85px 0;
		}
		@include m.mq(pc){
			padding: 120px 0;
		}
	}
	/* .home-about
	================================================ */
	.home-about{
		.txt{
			margin-top: 25px;
			line-height: 2;
		}
		@include m.mq(tb){
			margin-top: 40px;
			.txt{
				text-align: center;
			}	
		}
	}

	
	/* .home-profile
	================================================ */
	.home-profile{
		&__box{
			display: flex;
			justify-content: center;
			flex-direction: column;
			box-sizing: border-box;
			margin-top: 30px;
			.img{
				width: 50vw;
				max-width: 200px;
				margin: 0 auto;
			}
			.txt{
				margin-top: 25px;
				line-height: 2;
			}
		}
		@include m.mq(tb){
			&__inner{
				max-width: 580px;
				margin: 0 auto;
			}
			&__box{
				justify-content: space-between;
				flex-direction: row;
				align-items: center;
				margin-top: 40px;
				gap: 0 50px;
				.img{
					width: calc(35% - 30px);
					margin: 0;
				}
				.txt{
					margin: 0;
					width: calc(65% - 15px);
				}	
			}
		}
	}

	
	/* .home-works
	================================================ */
	.home-works{
		&__box{
			margin-top: 30px;
			.tab-list{
				display: flex;
				box-sizing: border-box;
				&-item{
					width: 25%;
					text-align: center;
					position: relative;
					padding-bottom: 5px;
					&.is-active{
						border-bottom: 2px solid #565656;
					}
					&::before{
						display: block;
						content: "";
						position: absolute;
						background: #fff;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						@include m.trans;
					}
					&:hover{
						&::before{
							opacity: 0.4;
						}
					}
				}
			}
			.slide-list{
				margin: 15px -20px 0;	
				&__item{
					margin: 0 10px;
					.link{
						display: block;
						text-decoration: none;
						position: relative;
						&::before{
							display: block;
							content: "";
							position: absolute;
							background: #fff;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
							@include m.trans;
						}
						&:hover{
							&::before{
								opacity: 0.4;
							}
						}
						.sub-tit{
							margin-top: 10px;
							text-align: center;
						}
					}
				}
				.slick-arrow{
					z-index: 50;
					top: calc(50% - 8vw);
					border-top: 1px solid #333;
					border-left: 1px solid #333;
					&.slick-prev{
						left: 15px;
						transform:rotate(-45deg); 
						&::before{
							content: "";
						}
					}
					&.slick-next{
						right: 15px;
						transform:rotate(135deg); 
						&::before{
							content: "";
						}
					}
				}
				.slick-dots{
					&>li{
						&:only-child{
							display: none;
						}
					}
					li{
						width: 10px;
						height: 10px;
						margin: 0 8px;
						button{
							width: 10px;
							height: 10px;
							&::before{
								display: block;
								content: "";
								background: #333;
								border-radius: 50%;
								width: 10px;
								height: 10px;

							}
						}
					}
				}
			}
		}
		@include m.mq(tb){
			&__box{
				margin-top: 40px;
				.slide-list{
					flex-wrap: wrap;
					justify-content: space-between;
					box-sizing: border-box;
					gap: 0 15px;
					margin: 20px 0 0;
					&.is-active{
						display: flex;
					}
					&__item{
						width: calc(50% - 15px);
						margin: 0;
						&:nth-child(n+3){
							margin-top: 20px;
						}
					}
				}
			}
		}
		@media (min-width: 800px){
			&__box{
				.slide-list{
					gap: 0 20px;
					&__item{
						width: calc(33.333% - 20px);
						margin: 0;
						&:nth-child(n+3){
							margin-top: 0;
						}
						&:nth-child(n+4){
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
	/* .home-skill
	================================================ */
	.home-skill{
		&__box{
			margin-top: 30px;
			.list{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: stretch;
				box-sizing: border-box;
				gap: 30px 15px;
				&-item{
					width: calc(50% - 15px);
					.img{
						display: block;
						width: 50%;
						max-width: 60px;
						margin: 0 auto;
					}
					.txt-box{
						margin-top: 10px;
						.sub-tit{
							font-size: clamp(1.6rem, 3vw, 1.8rem);
							text-align: center;
							font-weight: 700;
						}
						.txt{
							margin-top: 10px;
						}
					}
				}
			}
		}
		@include m.mq(tb){
			&__box{
				margin-top: 40px;
				.list{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: stretch;
					box-sizing: border-box;
					gap: 40px 15px;
					&-item{
						display: flex;
						box-sizing: border-box;
						gap: 0 30px;
						.img{
							width: calc(25% - 20px);
							margin: 0;
							margin-top: 15px;
						}
						.txt-box{
							width: calc(75% - 15px);
							.sub-tit{
								font-weight: 700;
								text-align: left;
							}
							.txt{
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}
	/* .home-contact
	================================================ */
	.home-contact{
		&__box{
			margin-top: 30px;
			.table{
				tbody{
					tr{
						border-bottom: 1px solid #333;
						+tr{
							margin-top: 30px;
						}
						
						&.zip,&.address{
							display: flex;
							gap: 0 5px;
							border: none;
							margin-top: 30px;
							th{
								width: 0;
								margin-top: 0;
							}
							td{
								margin-top: 0;
								input{
									border-bottom: 0.5px solid #333;	
								}
								select{
									width: 90px;
									border-bottom: 1px solid #333;	
								}
								div{
									+div{
										margin-top: 15px;
									}
								}
							}
						}
						&.zip{
							th{
								width: 15px;
							}
							td{
								width: 80px;
							}
						}
						&.address{
							gap: 0 10px;
							th{
								width: 40px;
							}
							td{
								width: calc(100% - 40px);
								p{
									font-weight: 700;
								}
							}
						}
						th{
							font-size: 1.4rem;
							font-weight: 700;
							.require{
								position: relative;
								top: -8px;
								left: 5px;
								background: #ad2d33;
								border-radius: 4px;
								padding: 2px 5px 3px;
								font-size: 1rem;
								line-height: 1;
								color: #fff;
							}
						}
						td{
							margin-top: 5px;
							font-size: 1.4rem;
							div{
								position: relative;
								width: 90px;
								&::after{
									content: "";
									position: absolute;
									right: 10px;
									top: 36px;
									width: 5px;
									height: 5px;
									border-top: 2px solid #ccc;
									border-left: 2px solid #ccc;
									transform: translateY(-50%) rotate(				-135deg);
									font-size: 10px;
									pointer-events: none;
								}
								+div{
									width: auto;
									margin-top: 15px;
									position: static;
									&::after{
										display: none;
									}
								}
							}
							input,textarea{
								width: 100%;
							}

						}
					}
				}
			}
		}
		@include m.mq(tb){
			&__box{
				max-width: 600px;
				margin: 40px auto 0;
			}
		}
	}
}

	


