@use "./01_setting/_mixin.scss" as m;
@use "./01_setting/_var.scss" as v;
/*
title
-------------------------------------- */
.c-btn01{
    max-width: 180px;
    text-align: center;
    margin: 30px auto 0;
    &__link{
        display: block;
        width: 100%;
        padding: 8px 0 10px;
        border: 1px solid #c7c2c2;
        background: #e9e9e9;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 800;
        color: #333;
        border-radius: 10px;
        text-decoration: none;
    }
    @include m.mq(tb){
        max-width: 260px;
        text-align: center;
        margin: 90px auto 0;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        &__link{
            display: block;
            width: 100%;
            padding: 8px 0 12px;
            text-decoration: none;
            font-size: 2.4rem;
        }
    }
}
