@use "./01_setting/_mixin.scss" as m;
@use "./01_setting/_var.scss" as v;
/*  02_base
================================================ */
html {
	overflow: auto;
}
body {
	min-width: 320px;
	padding-top: 45px;
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
	color: #000;
	font-size: 1.3rem;
	line-height: 1.75;
	letter-spacing: .16em;
	overflow: hidden;
	@include m.mq(tb) {
		padding-top: 60px;
		font-size: 1.4rem;
	}
	@include m.mq(pc) {
		min-width: v.$contents_width;
		padding-top: 80px;
	}
	&.sg {
		height: auto;
	}
}

a {
	color: inherit;
	text-decoration: underline;
	@include m.mq {
		&:hover {
			text-decoration: none;
		}
	}
}
.u-alpha {
	display: block;
	text-decoration: none;
	@include m.mq {
		@include m.trans;
		&:hover {
			opacity: .7;
		}
	}
}
img {
	width: 100%;
	height: auto;
}

/* pc <--> sp
-------------------------------------- */
.u-media-query {
	display: none;
	font-family: 'sp';
	@include m.mq {
		font-family: 'pc';
	}
}
.u-view-pc {
	@include m.mq(sp) {
		display: none !important;
	}
}
.u-view-sp {
	@include m.mq {
		display: none !important;
	}
}

.l-wrapper {
	position: relative;
}
.l-contents {
	padding: 40px 0 80px;
	@include m.mq(tb) {
		padding: 100px 0 140px;
	}
}
