@use "../01_setting/_mixin.scss" as m;
@use "../01_setting/_var.scss" as v;
/*
animation
-------------------------------------- */

@include m.mq{

	}
//fadein 下からフェードインします
.js-anime-elem[data-anime="fadein"] {
	@include m.mq {
		opacity: 0;
		transform: translateY(40px);
		@include m.trans(all,.6s,ease);
			@for $i from 1 through 20 {
			  &:nth-of-type(#{$i}) {
				transition-delay: .1s * $i; }
			}
		&.is_animated {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/* //ヘッダー・メインビジュアル・NEWSのアニメーション
================================================ */
@include m.mq{
	.animated-main__area-txt{
		opacity: 0;
		@include m.trans(all,1.8s,ease);
		transition-delay: .5s;
	}
	.animated-main-img{
		opacity: 0;
		@include m.trans(all,1.4s,ease);
		transition-delay: 1s;
	}
	.animated-sub-img__head{
		opacity: 0;
		@include m.trans(all,.8s,ease);
		transition-delay: 1s;
	}
	.animated-main-img__txt{
		@for $i from 1 through 20 {
			span:nth-of-type(#{$i}) {
			transition-delay: .08s * $i + 1s; }
		}
		span{
			opacity: 0;
			transform: translateX(-3px);
			@include m.trans(all,2s,ease);
		}
	}
	.animated-main-img__item{
		transform: translateX(-20px);
		@include m.trans(all,.8s,ease);
		opacity: 0;
		transition-delay: 3s;
		&:nth-child(2){
			transition-delay: 3.5s;
		}
		&:nth-child(3){
			transition-delay: 4s;
		}
	}
	.animated-home-news{
		opacity: 0;
		@include m.trans(all,.8s,ease);
		transition-delay: 3s;
	}
}
body.is_animated{
	@include m.mq{
		.l-header{
			opacity: 1;
		}
		.l-main-img{
			opacity: 1;
		}
		.l-sub-img{
			opacity: 1;
		}
		.animated-main-img__tit{
			span{
				transform: translateX(0);
				opacity: 1;
			}
		}
		.animated-main-img__txt{
			span{
				transform: translateX(0);
				opacity: 1;
			}
		}
		.animated-main-img__item{
			transform: translateX(0);
			opacity: 1;
		}
		.animated-home-news{
			opacity: 1;
		}
	}
}
